
body{ 
    /* background-color: rgb(211, 203, 238);
    background-image: linear-gradient( rgb(156, 212, 243)); */
    background-color: #fff;

    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px; 
 } 
    

header{
background-color:rgb(255, 255, 255);
width: 100%;
/* position: fixed; */
box-shadow: black 0px 1px 4px;
/* padding-bottom: 15px; */
/* padding-top: 15px; */
margin-top: -15px;
margin-bottom: 2px;
}

.searchicon{
  margin-left: -350px;
  margin-top: -25px;

}

.smallicon{
  margin-left: 750px;
  margin-top: -25px;
}

.searchbox{
  margin-left: -325px;
  margin-top: -23px;

}

nav{
    margin-left: 400px;
    
    margin-top: 0px;
    padding-bottom: 10px;
}

.navli{
    display: inline-flex;
    margin-left: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* background-color: #ffffff; */
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 10px;
    padding: 2px;
    

}

.navli :hover{
    
    /* padding-bottom: 2px; */
    color:rgb(255, 255, 255) ;
    background-color: #7a0315;
    border-radius: 5px;
    
     
    
}

a{
    text-decoration: none;
    color: rgb(31, 14, 14);
}

.admin h1{
    color: #7a0315;
    font-family: 'Barlow Condensed', sans-serif;
    margin: 30px 0 0 550px;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 150px;

}

.container h5{
    color: #7a0315;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 110px;
    margin-left: 250px;
    margin-bottom: 5px;
}

.container ol{
    text-decoration-style: none;
    
    
}

.container ol li{
    background-color: #7a0315;
    font-family: 'Barlow Condensed', sans-serif;
    list-style-type: none;
    margin-right: 850px;
    padding: 2px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 10px;
}

.chart-container{
    color: rgb(30, 59, 0);
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 100px;

}

.card-body h2 {
    font-size: 40px;
    color: #7a0315;
    margin-left: 150px;
    margin-bottom: 20px;
}

.sectio{
    margin-top: -100px;
}

footer{
    background-color: #7C0516;
    width:100%;
    top: 0%;
    overflow: hidden;
    /* left: 100%; */
    color: rgb(255, 255, 255);
    padding-top: 10px;
    /* margin-left: -5px; */
    /* margin-bottom: -30px; */
    margin-top: 400px;
    /* padding-right: 15px; */
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    border-top: 1px solid rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: -8px;
    
    
} 

footer .footerlogo{
    
    margin-left: 200px;
    font-family: 'Berkshire Swash', cursive;
    font-size: 15px;
    margin-bottom: 0px;
    margin-right: 200px;
    margin-top: 0px;
}


