* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body{ 
    /* background-color: rgb(211, 203, 238);
    background-image: linear-gradient( rgb(156, 212, 243)); */
    background-color: #fff;

    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px; 
 } 
    

header{
background-color:rgb(255, 255, 255);
width: 100%;
/* position: fixed; */
box-shadow: black 0px 1px 4px;
/* padding-bottom: 15px; */
/* padding-top: 15px; */
margin-top: -0px;
margin-bottom: 2px;
}

.searchicon{
  margin-left: -325px;
  margin-top: -25px;

}

.smallicon{
  margin-left: 800px;
  margin-top: -25px;
}

.searchbox{
  margin-left: -300px;
  margin-top: -23px;

}





.continar{
  position: relative;
}


  
  
  .center{
    /* width: 50%; */
    margin: 0vh auto 0vh auto;
    text-align: center;
  }
  
  .center p:last-child{
    margin: 1em auto 2em;
    font-family: Roboto;
    font-size: 1.2em;
   
    background: rgba(255,255,255,0.8);
    width: 280px;
    padding: 0.5em 1em;
    border-radius: 1em;
  }
  
  .brand{
    font-family: Roboto;
    font-size: 3em;
    
    margin: 0 auto;
    padding: 0;
    
    animation: type 6s steps(22);
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid black;
    animation-iteration-count: infinite;
  }
    @keyframes type {
        0%{
            width: 0ch;
        }
        100%{
            width: 29ch;
        }
    }
    
    
  
  .slogan{
    font-family: Roboto;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 0ch;
  }
  
  body{
   
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
  }
  
  *{
    margin: 0;
    padding: 0;
    /* font-family: "montserrat",sans-serif; */
  }
  .testimonials{    
    font-family: 'Merriweather Sans', sans-serif;
    background: rgba(255,255,255,0.5);
    
    text-align: center;
    margin: 0 auto 20vh;
  }

  .testimonialTitle{
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 5ch;
    font-size: 40px;
  }
  .inner{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .border{
    width: 160px;
    height: 5px;
    background: #7C0516;
    margin: 26px auto;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    background: rgba(253, 253, 253, 0.377);
    padding: 30px;
    border-radius: 10px;
    /* border: 1px solid #7C0516; */
    box-shadow: 0 0 5px 2px rgb(129, 6, 25, 0.4);
  }
  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
  }
  .name{
    font-size: 25px;
    font-weight: bold ;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .stars{
    color: #7C0516;
    margin-bottom: 20px;
    cursor: pointer;
  }




nav{
    margin-left: 350px;
    
    margin-top: 0px;
    padding-bottom: 10px;
}

.navli{
    display: inline-flex;
    margin-left: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* background-color: #ffffff; */
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 10px;
    padding: 5px;
    
    

}

.navli :hover{
    
    /* padding-bottom: 2px; */
    color:rgb(255, 255, 255) ;
    background-color: #7a0315;
    border-radius: 5px;
    
    
     
    
}

a{
    text-decoration: none;
    color: rgb(31, 14, 14);
}

.logo{
    float: left;
    margin-left: 150px;
    font-size: 30px;
    color : #7a0315;
    margin-top: 0px;
    position: absolute;
    
}


.logo h2{
    margin-bottom: 10px;
    font-family: 'Berkshire Swash', cursive;
    margin-top: 10px;
    margin-left: 330px;
    text-shadow: black 1px 1px 1px;
    
}
.logo h6{
    margin-top: 0%;
    color: rgb(255, 255, 255);
    font-family: 'Redressed', cursive;
    margin-left: 404px;
    text-shadow: black 1px 1px 1px;
}

.logo h1{
  color: rgb(255, 255, 255);
  margin-top: 210px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 30px;
  text-shadow: black 1px 1px 1px;
  margin-left: 150px;
}

.logo h3{
  color: rgb(255, 255, 255);
  margin-top: 100px;
  margin-bottom: -180px;
  font-family: 'Merriweather Sans', sans-serif;
  text-shadow: black 1px 1px 1px;
  font-size: 70px;
  margin-left: -20px;
  text-decoration: none;

}


.langimg{
    width: 100%;
    margin-top: 0px;
    
}



.leftbox div {
    
    background-image: linear-gradient(to right,#7a0315, #7a0315);
    float: left;
    padding-top: 75px;
    padding-bottom: 20px;
    margin-top: -100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
    color: white;
    box-shadow: rgb(129, 129, 129) 5px 5px 5px;
}

.leftbox h2{
    margin-top:-50px;
    margin-left: 300px;
    margin-bottom: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;

}

hr{
    margin-top: 0px;
    width: 18%;
    float: left;
    margin-left: 15px;
    
}

.leftbox h3{
    margin-right: 330px;
    margin-left: 130px;
    font-family: 'Barlow Condensed', sans-serif;
    

    
}

.leftbox img{
    float: right;
    margin-top: -250px;
    margin-right: 30px;
    width: 280px;
    height: 280px;
    
    
}

/*courses section*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:#ffffffd8;
  font-family: 'Courier New', Courier, monospace;
}
.main{
  margin-top: 10%;
}

.main h1{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 65px;
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
  color: #7a0315;
  text-shadow: rgb(163, 163, 163) 1px 1px 1px;

}
.course1{
  /* display:table; */
  display: flex;
  /* text-align: center; */
  margin: auto;
  justify-content: center;

}
.course1 .firstRow{
  /* display: table-cell; */
  width: 350px;
  height: 400px;
  margin: 5px;
  margin-bottom: 50px;
  background-color: rgba(146, 111, 111, 0.4);
  border-radius: 25px;
  /* box-shadow: 0 0 10px 2px rgb(0, 0,0, 0.4); */
  /* padding: 20px; */
  /* line-height: 80px; */
  color: #000000;
  /* position: relative; */
}
.course1 .firstRow:hover{
  box-shadow: 0 0 10px 2px rgb(0, 0,0, 0.4);
  border-radius: 25px;

}
.course1 .firstRow p{
  font-size: 15px;

}
.course1 .firstRow a{
  text-decoration: none;
}
.course1 .firstRow a:hover{
  text-decoration: underline;
  color: rgb(151, 65, 50);
 
}
.course1 .firstRow img{
  border-radius: 25px;
  width: 350px; height: 200px;
}

.course1 .firstRow .views,a {
  display:inline-flex;
  /* padding-left: 20px; */
}
.course1 .firstRow .price{
  margin-top: 90px; 
  color: rgb(194, 194, 18);
}

/* second Row*/

.course2{
  /* display:table; */
  display: flex;
  /* text-align: center; */
  margin: auto;
  justify-content: center;

}
.course2 .seconRow{
  /* display: table-cell; */
  width: 320px;
  height: 400px;
  margin: 5px;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.068);
  /* border-radius: 25px; */
  border: #7C0516 1px solid;
  /* box-shadow: 0 0 10px 2px rgb(0, 0,0, 0.4); */
  /* padding: 20px; */
  /* line-height: 80px; */
  color: #000000;
  /* position: relative; */
}
.course2 .seconRow:hover{
  box-shadow: 0 0 10px 2px rgb(0, 0,0, 0.4);
  /* border-radius: 25px; */

}
.course2 .seconRow p{
  font-size: 15px;

}
.course2 .seconRow a{
  text-decoration: none;
}
.course2 .seconRow a:hover{
  text-decoration: underline;
  color: rgb(151, 65, 50);
 
}
.course2 .seconRow img{
  /* border-radius: 25px; */
  width: 318px; height: 200px;

}
.course2 .seconRow .views,a {
  display:inline-flex;
  /* padding-left: 20px; */
}
.course2 .seconRow .price{
  margin-top: 90px; 
  color: rgb(194, 194, 18);
}


/*shop section*/
.shop{
  margin-top: 100px;
  height: 100vh;
}

.all{
  margin-left: 180px;
  /* margin-top: 30px; */
  display: table;
  text-align: center;
  border: 2px solid #6ab070;
  height: 0em;
 
}
.shopTitle{
  /* margin-left: 600px; */
  /* padding: 60px; */
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 30px;
  /* margin-top: 35px; */
}




.cntCour{
  width: 100%;
  background-color:#7C0516 ;
  padding: 100px;
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  display: inline-flex;
  
}

.cntCour1{
  font-size: 30px;
  margin-left: 100px;
  margin-right: 150px;
  

}
.cntCour2{
  font-size: 30px;
  margin-right: 150px;
  

}
.cntCour3{
  font-size: 30px;
  

}

.shopNow{
  margin-left: 590px;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 30px;
  color: #7C0516;
}


footer{
    background-color: #7C0516;
    width:100%;
    top: 0%;
    overflow: hidden;
    left: 100%;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    /* margin-left: -5px; */
    /* margin-bottom: -30px; */
    margin-top: 300px;
    padding-right: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    border-top: 1px solid white;
    font-size: 20px;
    font-weight: bolder;
    
    
} 

footer .footerlogo{
    
    margin-left: 200px;
    font-family: 'Berkshire Swash', cursive;
    font-size: 15px;
    margin-bottom: 0px;
    margin-right: 200px;
    margin-top: 0px;
}


