*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}
header{
    background-color:rgb(255, 255, 255);
    width: 100%;
    /* position: fixed; */
    box-shadow: black 0px 1px 4px;
    padding-bottom: 10px;
    padding-top: 15px; 
    margin-top: -15px;
    margin-bottom: 2px;
    }
    
    .searchicon{
      margin-left: -350px;
      margin-top: -25px;
    
    }
    
    .smallicon{
      margin-left: 750px;
      margin-top: -25px;
    }
    
    .searchbox{
      margin-left: -325px;
      margin-top: -23px;
    
    }
    
    nav{
        margin-left: 400px;
        
        margin-top: 0px;
        padding-bottom: 10px;
    }
    
    .navli{
        display: inline-flex;
        margin-left: 25px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        /* background-color: #ffffff; */
        font-size: 20px;
        font-family: 'Noto Sans JP', sans-serif;
        margin-top: 10px;
        padding: 2px;
        font-weight: bold;
        
    
    }
    
    .navli :hover{
        
        /* padding-bottom: 2px; */
        color:rgb(255, 255, 255) ;
        background-color: #7a0315;
        border-radius: 5px;
        
         
        
    }
    
    a{
        text-decoration: none;
        color: rgb(31, 14, 14);
    }
main{
    background-color:#c7ceda;
    margin:0px auto 0px auto;
}

section1{
    background-color: rgb(255, 255, 255);
    display: inline-flex;
}
.coursename{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.829);
    width: 800px;
    margin-top: 0px;
    margin-left: 180px;
    padding:40px;
    margin-bottom: 5px;

}
.imgsize{
    width: 800px;
    height: 550px;
}
.imageposition{
    margin-top: 0px;
    margin-left: 180px;
}


/* section2 */
.section2{
    position: absolute;
    top: 11%;
    left: 75%;
}
.courseinfo h2{
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 10px;
    font-weight: 300;
    letter-spacing: 2px;

}
.pricespan{
    font-size: 25px;
    color: rgb(182, 28, 28);
    margin-left: 10px;
    font-weight: 400;
}
span{
    color:  rgb(182, 28, 28);
    font-size: 15px;
    font-family: 'Merriweather Sans', sans-serif;
     margin-left: 10px;
}

.btn{
  width: 100%;
  padding: 12px 15px;
  font-size: 20px; 
  border: 0px;
  background:  #940101;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  margin-top: 25px;
  
}
.btn a{
    color: #fff;
    text-decoration: none;
}
.btn:hover{
  background: #420000;
}
.coursedata{
    padding: 30px;
    padding-left: 0px;
    border-bottom: 1px solid crimson;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

footer{
    background-color: #7C0516;
    width:100%;
    top: 0%;
    overflow: hidden;
    left: 100%;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    /* margin-left: -5px; */
    /* margin-bottom: -30px; */
    margin-top: 0px;
    padding-right: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    border-top: 1px solid white;
    font-size: 20px;
    font-weight: bolder;
    
    
} 

footer .footerlogo{
    
    margin-left: 200px;
    font-family: 'Berkshire Swash', cursive;
    font-size: 15px;
    margin-bottom: 0px;
    margin-right: 200px;
    margin-top: 0px;
}